{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block home_container %}
    <div class="container" >
      <!-- Main component for a primary marketing message or call to action -->
       <!-- /container -->

        <h3>Change Password</h3>
<div class="col-md-4 small">
  <form method='POST' action=''>
  {% csrf_token %}
        {{ form | crispy }}
        <!-- <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password"> -->
        <input class='btn btn-primary' type='submit' value='Submit'/>
        <input type="hidden" name="next" value="{{ next|escape }}" />

  </form>
</div>

    </div>

{% endblock %}

