{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block question_container %}
{% for i in question %}
  <div class="container">
  	<div class="jumbotron">
      <a class="lead" href="{{i.pk}}">{{i.question_text}}<br></a><br>

      <div class="col-md-1 bg-primary img-rounded text-center word-wrap">
        {{i.author}}
      </div>

      {% if request.user.username == i.author.username %}
        <div class="col-md-1 ">

          <form method='POST' onsubmit="return confirm('Do you really want to delete this Question?\n It will remove all its answers.');" action=''>
            {% csrf_token %}
            <input class="btn btn-xs btn-warning " name='submit' type='submit' value='Delete Question'></input>
            <input type="hidden" name="question_id" value="{{i.pk}}" />
          </form>
        </div>
      {% endif %}

      {% if i.upload == True %}
        <a href="{{i.upload.url}}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>  Uploaded File</a>
      {% endif %}
    </div>
  </div>
{% endfor %}
{% endblock %}

{% block answer_container %}
{% for i in answer %}
  <br>
  <div class="container img-rounded bg-info"><br>

      <div class="col-md-1 bg-primary img-rounded text-center word-wrap">
        {{i.author}}
      </div>

       <div class="col-md-7 ">  {{i.answer_text}} </div>

      <div class="col-md-2 ">
        <form method='POST' action=''>
        {% csrf_token %}
        {% if i in check_upvoted_already  %}
          <div class="btn-group">
            <input type="submit" name='submit' class="btn btn-default btn-sm " value='upvoted'/>
            <input type="hidden" name="answer_id" value="{{i.pk}}" />
            <button type="button" class="btn btn-default btn-sm disabled ">{{i.upvotes}}</button>
          </div>
        {% else %}
          <div class="btn-group">
            <input class='btn btn-primary btn-sm' name='submit' type='submit' value='upvote'/>
            <input type="hidden" name="answer_id" value="{{i.pk}}" />
            <button class="btn btn-primary btn-sm disabled">{{i.upvotes}}</button>
          </div>
        {% endif %}
        </form>

  		</div>

      {% if request.user.username == i.author.username %}
        <div class="col-md-1 ">

          <form method='POST' onsubmit="return confirm('Do you really want to delete the answer?');" action=''>
            {% csrf_token %}
            <input class="btn btn-xs btn-warning" name='submit' type='submit' value='delete'></input>
            <input type="hidden" name="answer_id" value="{{i.pk}}" />
          </form>
        </div>

        <div class="col-md-1 ">

          <form method='POST' action=''>
            {% csrf_token %}
            <input class="btn btn-xs btn-warning" name='submit' type='submit' value='Modify'></input>
            <input type="hidden" name="answer_id" value="{{i.pk}}" />
          </form>
        </div>
      {% endif %}



  </div>

{% endfor %}
{% endblock %}

{% block home_container %}
<br>
{% endblock %}

{% block read_container %}

<!-- Add answer form -->
<br>
<div class="container">
  <div class="jumbotron">
    <div class="row">
       <div class="col-md-12 ">
        <form method='POST' action=''>
        {% csrf_token %}
          {{ form | crispy }}
          <input class='btn btn-primary' name='submit' type='submit' value='Add Answer'/>
        </form>
        </div>
    </div>
  </div> <!-- /container -->
</div>
{% endblock %}
