{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main_content %}

    <div class="col-md-8">
      <h2>Question Answer Platform </h2>
      <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
      <p>To see the difference between static and fixed top navbars, just scroll.</p>
      <p>
      <a class="btn btn-lg btn-primary" href="{% url 'register' %}" role="button">Register &raquo;</a>
      </p>
    </div>
{% endblock %}

{% block login %}
<div class="col-md-4 ">

  <form method='POST' action=''>
  {% csrf_token %}
        {{ form | crispy }}
        <input class='btn btn-primary' type='submit' value='login'/>
        <input type="hidden" name="next" value="{{ next|escape }}" />

  </form>
</div>
{% endblock %}