{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block home_container %}
{% endblock %}
{% block read_container %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2 bg-success img-rounded">
            <br>
            <form action="" method="POST">
                {% csrf_token %}
            Add your favourite categories.
            <select class="select form-control" id="id_category" name="category">        
            <option value="0" selected="selected">Select a category</option>
            {% for i in categorylist %}
            <option value='{{ i.pk }}' >{{i.categories}}</option>
            {% endfor %}
            </select><br>
            <input class='btn btn-default' type='submit' value='Add Category'/>
            </form>
        </div>
    </div>
{%for answer in LatestAobjectslist %}  
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-2 bg-info img-rounded">
    <div >
    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"> Recently Added Answer</span>
   </div>
    <a href="/write/{{answer.question.pk}}"><h2>{{answer.question}}</h2></a>
    <div class="col-xs-2 col-sm-2 bg-primary img-rounded"> 
    {{answer.author}}
    </div>
    <br>
    <br>
    {{answer}}
<br>
<br>
<div class="col-md-3 ">
        <form method='POST' action=''>
          {% csrf_token %}
          {% if answer in check_upvoted_already  %}
          <div class="btn-group">
            <input type="submit" name='submit' class="btn btn-default btn-sm " value='upvoted'/>
            <input type="hidden" name="answer_id" value="{{answer.pk}}" />
            <button type="button" class="btn btn-default btn-sm disabled ">{{answer.upvotes}}</button>
          </div>
          {% else %}
          <div class="btn-group">
            <input class='btn btn-danger btn-sm' name='submit' type='submit' value='upvote'/>
            <input type="hidden" name="answer_id" value="{{answer.pk}}" />
            <button class="btn btn-danger btn-sm disabled">{{answer.upvotes}}</button>
          </div>
          {% endif %}
        </form>
        </div> 
  </div>
</div>
{%endfor%}
{%for question in LatestQobjectslist %}  
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-2 bg-danger img-rounded">
    <div >
    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"> Recently Added Question</span>
    </div>
    <a href="/write/{{question.pk}}"><h2>{{question.question_text}}</h2></a>
    {%if question.category1.categories %}
    <div class="col-xs-2 col-sm-2 bg-info img-rounded"> 
    {{question.category1.categories}}
    </div>
    {%endif%}
    {%if question.category2.categories %}
    <div class="col-xs-2 col-sm-2 bg-info img-rounded"> 
    {{question.category2.categories}}
    </div>
    {%endif%}
    {%if question.category3.categories %}
    <div class="col-xs-2 col-sm-2 bg-info img-rounded"> 
    {{question.category3.categories}}
    </div>
    {%endif%}
    {%if question.category4.categories %}
    <div class="col-xs-2 col-sm-2 bg-info img-rounded"> 
    {{question.category4.categories}}
    </div>
    {%endif%}
    <br><br><br>
  </div>
</div>
{%endfor%}

{%for answer in LatestothersAofUobjectslist %}  
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <div >
    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"> New answer to an already upvoted answer</span>
   </div>
    <a href="/write/{{answer.question.pk}}"><h2>{{answer.question}}</h2></a>
    <div class="col-xs-2 col-sm-2 bg-primary img-rounded"> 
    {{answer.author}}
    </div>
    <br>
    <br>
    {{answer}}
    <br>
    <br>
<div class="col-md-3 ">
    <form method='POST' action=''>
          {% csrf_token %}
          {% if answer in check_upvoted_already  %}
          <div class="btn-group">
            <input type="submit" name='submit' class="btn btn-default btn-sm " value='upvoted'/>
            <input type="hidden" name="answer_id" value="{{answer.pk}}" />
            <button type="button" class="btn btn-default btn-sm disabled ">{{answer.upvotes}}</button>
          </div>
          {% else %}
          <div class="btn-group">
            <input class='btn btn-danger btn-sm' name='submit' type='submit' value='upvote'/>
            <input type="hidden" name="answer_id" value="{{answer.pk}}" />
            <button class="btn btn-danger btn-sm disabled">{{answer.upvotes}}</button>
          </div>
          {% endif %}
    </form>
</div> 
    <hr>
  </div>
</div>
{%endfor%}

{%for answer in JustAobjectslist %}  
<br>
<div class="row">
  <div class="col-md-6 bg-warning img-rounded col-md-offset-2">
    <a href="/write/{{answer.question.pk}}"><h2>{{answer.question}}</h2></a>
    <div class="col-xs-2 col-sm-2 bg-primary img-rounded"> 
    {{answer.author}}
    </div>
    <br>
    <br>
    {{answer}}<br><br>
<div class="col-md-3 ">
    <form method='POST' action=''>
          {% csrf_token %}
          {% if answer in check_upvoted_already  %}
          <div class="btn-group">
            <input type="submit" name='submit' class="btn btn-default btn-sm " value='upvoted'/>
            <input type="hidden" name="answer_id" value="{{answer.pk}}" />
            <button type="button" class="btn btn-default btn-sm disabled ">{{answer.upvotes}}</button>
          </div>
          {% else %}
          <div class="btn-group">
            <input class='btn btn-danger btn-sm' name='submit' type='submit' value='upvote'/>
            <input type="hidden" name="answer_id" value="{{answer.pk}}" />
            <button class="btn btn-danger btn-sm disabled">{{answer.upvotes}}</button>
          </div>
          {% endif %}
    </form>
</div> 
</div>
</div>
{%endfor%}

</div>
{% endblock %}