{% extends 'base.html' %}
{% load staticfiles %}

<!DOCTYPE html>

{% block question_container %}
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Report</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}"/>
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->


	</head>
	<body>
		<div class="container">
			<!-- Top Navigation -->
			
			<div class="component " >
				<h2>Report from {{ from|date:"D d M Y" }} till {{ till|date:"D d M Y" }}</h2>
				<table>
					<thead>
						<tr>
							<th>Department</th>
							<th>No of Questions</th>
							<th>No of Answers</th>
							<th>No of Upvotes</th>
							
						</tr>
					</thead>
					<tbody>
					{%for i in val %}  
						<tr>
							<th class="user-name" >{{i.dept}}</th> 
							<td class="user-number">{{i.qn_count}}</td>
							<td class="user-number">{{i.ans_count}}</td>
							<td class="user-number">{{i.u_count}}</td>
						</tr>
					{% endfor %}  

					</tbody>
				</table>
				
			</div>
			
		</div><!-- /container -->
{% endblock %}

		<script src="{% static 'js/jquery1.min.js' %}"></script>
		<script src="{% static 'js/jquery.ba-throttle-debounce.min.js' %}"></script>
		<script src="{% static 'js/jquery.stickyheader.js' %}"></script>
	</body>
</html>

{% block home_container %}
<div class='container' align='center'>
{% load chart_tags %}

{% chart %}
     chxr=2,0,45,15 
     chxt=x,x,y,y
     chxl=0:|CS|EB|EC|EE|1:|Department|3:|Usage
     chxp=1,50|3,50
     chbh=a
     chs=440x320
     cht=bvs
     chco=4D89F9
     chds=0,45

     chd=t:{{ values|join:',' }}
     chtt=Bar+chart+showing+the+weighted+usage


{% endchart %}
</div>
{% endblock %}
<!-- https://developers.google.com/chart/image/docs/chart_params -->