{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block question_container %}
{% for i in question %}
<div class="container">
  <div class="jumbotron">
    <a class="lead" href="{{i.pk}}">{{i.question_text}}</a><br>
    {% if i.upload != "" %}
      <a href="{{i.upload.url}}">
      <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Uploaded File 
      </a>
      {% endif %}
      <br>
    <div class="col-md-1 bg-primary img-rounded text-center">
      {{i.author}}
    </div>

    <div class="col-md-1 ">

      <form method='POST' onsubmit="return confirm('Do you really want to delete this Question?\n It will remove all its answers.');" action=''>
        {% csrf_token %}
        <input class="btn btn-xs btn-warning" name='submit' type='submit' value='Delete Question'></input>
        <input type="hidden" name="question_id" value="{{i.pk}}" />
      </form>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
{% block login %}
<div class="col-md-12 ">

  <form method='POST' action=''>
  {% csrf_token %}
		{{ form | crispy }}
		<input class='btn btn-primary' name='submit'type='submit' value='Add Answer'/>
		<input type="hidden" name="next" value="{{ next|escape }}" />

  </form>
</div>
{% endblock %}
{% block answer_container %}
{% for i in answer %}
<br>
<div class="container img-rounded bg-info">
<br>
		<div class="col-md-1 bg-primary img-rounded text-center">
			{{i.author}}
    </div>
			<div class="col-md-7 ">
			{{i.answer_text}}
 			</div>


         <div class="col-md-2 ">
 			  <form method='POST' action=''>
 			    {% csrf_token %}
 		{% if i in check_upvoted_already  %}
 		<div class="btn-group" role="group" >
  		<input type="submit" name='submit' class="btn btn-default btn-sm " value='upvoted'/>
  		<button type="button" class="btn btn-default btn-sm disabled ">{{i.upvotes}}</button>
      <input type="hidden" name="answer_id" value="{{i.pk}}" />
  		</div>
 		{% else %}
 		<div class="btn-group" role="group" >
        <button class='btn btn-danger btn-sm' name='submit' type='submit' value='upvote'>upvote</button>
        <button class="btn btn-danger btn-sm disabled">{{i.upvotes}}</button>
        <input type="hidden" name="answer_id" value="{{i.pk}}" />
    </div>
        {% endif %}
    </form>
</div>
<div class="col-md-1 ">

<form method='POST' onsubmit="return confirm('Do you really want to delete the answer?');" action=''>
{% csrf_token %}
<input class="btn btn-xs btn-warning" name='submit' type='submit' value='delete'></input>
<input type="hidden" name="answer_id" value="{{i.pk}}" />
</form>
</div>
<div class="col-md-1 ">
<form method='POST' action=''>
        {% csrf_token %}
<div class="btn-group">
  {% if not i.verify %}
  <input class="btn btn-xs btn-success" name='submit' type='submit' value='verify' ></input>
  {% else %}
  <input class="btn btn-xs btn-success " name='submit' type='submit' value='verified' ></input>
  {% endif %}
  <input type="hidden" name="answer_id" value="{{i.pk}}" />
  </div>
</form>
    </div>
</div>
{% endfor %}
{% endblock %}
